<div class="container">
    <div class="row">
        <div class="col-12 col-lg-3"></div>
        <div class="col-12 col-lg-6">
            <h1 class="text-center mt-4">Registrati</h1>
            <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
                <div class="form-group">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" name="username" required class="form-control" ngModel>
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" id="nome" name="nome" required class="form-control" ngModel>
                     <label for="cognome" class="form-label">Cognome</label>
                    <input type="text" id="cognome" name="cognome" required class="form-control" ngModel>
                      <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" name="email" required class="form-control" ngModel>
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password" required class="form-control" ngModel>
                </div>
                <button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary mt-4">Registrati</button>
            </form>
        </div>
        <div class="col-12 col-lg-3"></div>
    </div>
</div>
