<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid col-9">
      <a class="navbar-brand" href="#">Epic energy services</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li *ngIf="user" class="nav-item">
            <a class="nav-link active" aria-current="page"  [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Home</a>
          </li>
          <li *ngIf="!user" class="nav-item">
            <a class="nav-link" [routerLink]="['/register']"
            routerLinkActive="active">Registrati</a>
          </li>
          <li *ngIf="!user" class="nav-item">
            <a class="nav-link" [routerLink]="['/login']"
            routerLinkActive="active">Login</a>
          </li>
          <li *ngIf="user" class="nav-item">
            <a class="nav-link" [routerLink]="['/clienti']"
            routerLinkActive="active">clienti</a>
          </li>
          
          <li *ngIf="user" class="nav-item">
            <a class="nav-link" [routerLink]="['/fatture']"
            routerLinkActive="active">fatture</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container-fluid col-3">
    <h4 *ngIf="user" class="text-dark text-black ms-3">
      Benvenuto {{ user.nome }} 
  </h4>
  <button type="button" class="btn btn-danger me-3" *ngIf="user" (click)="logout()">
      Logout
  </button>
</div>
  </nav>