<div class="container mt-4 text-center">
  <h1 class="text-center p-2">{{ cliente.ragioneSociale }}</h1>
  <div class="card h-100 text-center p-5 shadow">
    <h3>{{ cliente.email }}</h3>
    <h3>{{ cliente.partitaIva }}</h3>
    <h3>{{ cliente.pec }}</h3>
    <h3>{{ cliente.telefono }}</h3>
    <h3>{{ cliente.email }}</h3>
    <h3>{{ cliente.emailContatto }}</h3>
    <h3>{{ cliente.nomeContatto }}</h3>
    <h3>{{ cliente.cognomeContatto }}</h3>
    <h3>{{ cliente.fatturatoAnnuale }}</h3>

    <h3>{{ cliente.logoAziendale }}</h3>
  </div>
</div>
